[submodule "memba/server/code/lib/FlareSolverr"]
	path = memba/server/code/lib/FlareSolverr
	url = https://github.com/FlareSolverr/FlareSolverr.git
[submodule "memba/server/code/lib/twikit"]
	path = memba/server/code/lib/twikit
	url = https://github.com/d60/twikit.git
