[submodule "memba/backend/lib/FlareSolverr"]
	path = memba/backend/lib/FlareSolverr
	url = https://github.com/FlareSolverr/FlareSolverr
[submodule "memba/backend/lib/twikit"]
	path = memba/backend/lib/twikit
	url = https://github.com/d60/twikit
